@import "variable.pcss";

.deleteLink {
  color: var(--red);
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  .searchBox {
    display: flex;
    flex-direction: row;
  }
}
