header
    nav(class="wrap")
        div(class="logo")
            h2 你好，欢迎
        ul
            li
                a 首页
                    span(class="iconfont icon-icon-test4")
            li
                a 产品与服务
            li
                a 案例
            li
                a 关于我们