doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/normalize.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./iconfont/iconfont.css')
    script(src='./js/jquery-3.4.1.min.js')
  body
    include header.pug
    block content
    include footer.pug
