doctype html
html
  block head
    title= title
    meta(name='viewport', content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
    link(rel='stylesheet', href='./stylesheets/normalize.css')
    link(rel='stylesheet', href='./stylesheets/style.css')
    link(rel='stylesheet', href='./iconfont/iconfont.css')
    script(src='./js/require.js', defer, async="true")
  body
    include header.pug
    block content
    include footer.pug
