@font-face {
  font-family: 'PingFang_Medium';
  src: url("./../../fonts/PingFang_Medium.ttf");
  font-weight: normal;
  font-style: normal;
}
h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff;
  font-family: PingFang_Medium, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  font-size: 14px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
header ul li a {
  font-size: 16px;
}
header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #e8e8e8;
}
header {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  width: 100%;
}
header ul {
  float: right;
}
header ul li {
  float: left;
}
header ul li a {
  display: inline-block;
  padding: 0 20px;
  color: #323333;
  line-height: 80px;
  position: relative;
  top: 0;
  left: 0;
}
/*inline元素不能使用rotate样式*/
header ul li a span {
  display: inline-block;
}
header ul li a span:before {
  font-size: 16px;
}
.turn-up-down {
  animation-name: upDown;
  animation-timing-function: ease-in-out;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
}
@keyframes upDown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
header a:hover {
  color: #CC0000;
  font-weight: bold;
}
header .logo {
  float: left;
}
header .logo h2 {
  line-height: 80px;
}
.wrap {
  width: 1200px;
  margin: 0 auto
}
.content-wrap {
  padding-top: 80px;
}
.index-banner {
  height: 420px;
}
.index-banner .swiper-wrapper, .index-banner .swiper-slide, .index-banner .inner-content{
  height: 100%;
}

.inner-content {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50%;
  color: white;
}